.navList {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 0;
  padding: 0;

  @media (max-width: 900px) {
    display: none;
  }
}

.item {
  font-size: 15px;
  font-weight: 600;
  color: #333;

  a {
    padding: 8px 12px;
    border-radius: 20px;
    transition: background-color 0.2s;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}
