.container {
  max-width: 1100px;
  margin: 150px auto 0;

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .icon {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .title {
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  .description {
    font-size: 0.8rem;
    text-align: center;
    max-width: 300px;
  }

  .link {
    font-size: 0.8rem;
    text-align: center;
    color: #0771b8;
    margin-top: -0.6rem;
  }
}
