.profileButtonContainer {
  background-color: #f3f3f3;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 4px 4px 12px;
  height: 40px;
  min-width: 76px; /* Чуть меньше */
  border-radius: 9999px;
  transition: all 0.2s ease;

  &:hover {
    background-color: #e5e5e5;
  }

  /* На мобилке можно вообще оставить только кружок аватара, но пока оставим капсулу */
}

.menuIcon {
  font-size: 1.1rem;
  color: #333;
  margin-right: 6px;
}

.userIconWrapper {
  background-color: #333;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userIcon {
  font-size: 1rem;
  color: white;
}
