
.navbar {
  display: flex;
  margin: 0 auto;
  height: 60px;
  max-width: 600px;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
  gap: 1.5rem; 
}

.navbar {
  & a {
    text-decoration: none;
    color: #333;
    font-weight: 500;

    &:hover {
      color: #007bff;
    }
  }
}